@font-face {
  font-family: titleFont;
  src: url(../src/assets/fonts/films.MO.ttf);
}

@font-face {
  font-family: textFont;
  src: url(../src/assets/fonts/FrizQuadrataTT.ttf);
}

/* Animação básica para fade-in do texto*/
@keyframes text-fade {
  from {opacity: 0};
  to {opacity: 1};
}


/* Estilização padrão da página*/
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

button {
  cursor: pointer;
}

body {
  background-image: url(../src//assets/images/maps/classic_maps/zones/world.jpg);
  background-size:cover;
  background-position: center, bottom;
  background-attachment: fixed;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px; 
}

/* Estilização do header e do menu de navegação*/

.main_header {
  font-family: "titleFont", sans-serif;
  color: rgba(223, 201, 3, 0.904);
  text-shadow: 4px 4px 4px black;
  text-align: center;
  word-spacing: 10px;
  border: 1px solid rgba(197, 189, 189, 0.829);
  background:rgba(15, 12, 12, 0.801);
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}

.site_nav {
  align-items:flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-auto-rows: minmax(20px, auto);
  font-family: "titleFont", sans-serif;
  background:rgba(15, 12, 12, 0.801);
  text-shadow: 4px 4px 4px black;
  color: rgba(205, 215, 230, 0.863);
  border-top: 1px solid rgba(205, 215, 230, 0.863);
  padding: 10px;
}

.items .subitems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.show {
  font-family: "titleFont", sans-serif;
  font-size: 15px;
  text-shadow: 4px 4px 4px black;
  width: 270px;
  background-color: rgba(117, 107, 107, 0.205);
  color: rgba(223, 201, 3, 0.904);
  border-radius:25px;
}

.icon {
  width: 40px;
  border: 3px solid rgba(221, 193, 193, 0.904);
  border-radius: 10px;
} 


/* Estilização do texto principal da página*/

.introduction, .gallery {
  font-family: "textFont", sans-serif;
  text-shadow: 4px 4px 4px black;
  color:rgba(255, 255, 255, 0.904);
  background:rgba(15, 12, 12, 0.801);
  line-height: 2;
  text-align: justify;
  border: 1px solid rgba(197, 189, 189, 0.829);
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}

.introduction .icon {
  width:30px;
}

.introduction > .main_text {
  animation-name: text-fade;
  animation-duration: 4s;
}

.introduction > p:hover{
  opacity: 1;
}

.introduction > h2, .introduction > h3, .main_text > h3 {
  display: inline-block;
  padding-right: 10px;
  font-family: "titleFont", sans-serif;
}

.introduction > h2 {
  color: rgba(192, 21, 214, 0.671)
}

.main_text > h3 {
  color: rgba(11, 243, 88, 0.877);
  text-indent: 5rem
}

.show_text {
  display: inline-block;
  border-radius: 10px;
  width:40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  
}


/* Estilização de links*/

a {
  text-decoration: none;
}

a:link {
  color:green;
  text-shadow: 4px 4px 4px black;
}

a:visited {
  color:orange;
  text-shadow: 4px 4px 4px black;
}

a:hover {
  border-bottom: 1px solid;
  text-shadow: 4px 4px 4px black;
}

a:focus{
  border-bottom: 1px solid;
  text-shadow: 4px 4px 4px black;
}
