/* Geral */
@font-face {
  font-family: titleFont;
  src: url(../src/assets/fonts/films.MO.ttf);
}

@font-face {
  font-family: textFont;
  src: url(../src/assets/fonts/FrizQuadrataTT.ttf);
}

body {
  background-image: url(../src//assets/images/maps/classic_maps/zones/world.jpg);
  background-size:cover;
  background-position: center, bottom;
  background-attachment: fixed;
}

/* Isso faz com que todas as caixas e afins no site sejam alinhadas dentro de um jeito só, deixando o código com melhor performance */
.root {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(15, 12, 12, 0.541);
  border-radius: 10px; 
}

.main_header {
  font-family: "titleFont", sans-serif;
  font-size: 1.5rem;
  color: rgba(223, 201, 3, 0.904);
  text-shadow: 4px 4px 4px black;
  text-align: center;
  word-spacing: 10px;
  border: 1px solid rgba(197, 189, 189, 0.829);
  background:rgba(15, 12, 12, 0.801);
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  

}

.site_nav {
  align-items:flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-auto-rows: minmax(20px, auto);
  font-family: "titleFont", sans-serif;
  text-shadow: 4px 4px 4px black;
  color: rgba(205, 215, 230, 0.863);
  border: 1px solid rgba(170, 169, 163, 0.829);
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-right: 150px;
}

.site_nav > h2 {
  color:rgba(223, 201, 3, 0.904);
}

.subitems {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-auto-rows: minmax(20px, auto);
}

.subitems > li {
  display:flex;
  align-items: center;
}


.show {
  font-family: "titleFont", sans-serif;
  font-size:20px;
  text-shadow: 4px 4px 4px black;
  width: 200px;
  transition-duration: 0.5s;
  background-color: rgba(117, 107, 107, 0.205);
  color: rgba(223, 201, 3, 0.904);
  border-radius:12px;
}


.main_introduction {
  font-family: "textFont", sans-serif;
  text-shadow: 4px 4px 4px black;
  color:rgba(255, 255, 255, 0.904);
  line-height: 1.5;
  text-align: justify;
  text-indent: 3rem;
  border: 1px solid rgba(197, 189, 189, 0.829);
  background:rgba(15, 12, 12, 0.801);
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.main_introduction > h2, .main_introduction > h3 {
  font-family: "titleFont", sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color:green;
  text-shadow: 4px 4px 4px black;
}

a:visited {
  color:orange;
  text-shadow: 4px 4px 4px black;
}

a:hover {
  border-bottom: 1px solid;
  text-shadow: 4px 4px 4px black;
}

a:focus{
  border-bottom: 1px solid;
  text-shadow: 4px 4px 4px black;
}

/* Icons */

.profession_icon {
  width: 30px;
  border: 1px solid gray;

} 